@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}


<AuthorizeView>
    <Authorized>
        <h1> test Authorized @context.User.Claims.FirstOrDefault(c=>c.Type == "testCalim").Value</h1>


    </Authorized>
    <NotAuthorized>
        <h1> NotAuthorized NotAuthorized</h1>

    </NotAuthorized>

</AuthorizeView>


